<div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
  <md-button class="md-raised md-primary" aria-label="Add Family" md-no-ink="true" ng-click="efvm.openDialog($event)">Add New Family</md-button>
    <md-table-container>
      <table md-table md-progress="efvm.promise">
          <thead md-head>
              <tr md-row>
                  <th md-column><span>Family Name</span></th>
                  <th md-column><span>Occupation</span></th>
                  <th md-column><span>Address</span></th>
                  <th md-column><span>Birthday</span></th>
                  <th md-column><span>Relation</span></th>
                  <th md-column><span>Actions</span></th>
              </tr>
          </thead>
              <tbody md-body>
                  <tr md-row ng-repeat="e in efvm.lists.data">
                    <td md-cell>
                        {{e.family_name}}
                    </td>
                    <td md-cell>
                        {{e.family_occupation}}
                    </td>
                    <td md-cell>
                        {{e.family_address}}
                    </td>
                    <td md-cell>
                        {{e.family_dob | date:'MMMM dd, y'}}
                    </td>
                    <td md-cell>
                        {{e.family_relation}}
                    </td>
                    <td md-cell>
                        <md-button class="edit-button md-icon-button" aria-label="Actions" ng-click="efvm.updateDialog($event,e)"><md-icon md-font-icon="icon-pencil" class="s16"></md-icon></md-button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </md-table-container>
</div>