<md-dialog class="task-dialog" aria-label="New Task">
    <form name="insertForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Save Shift</span>
                <md-button class="md-icon-button" ng-click="dcvm.closeDialog()">
                    <md-tooltip><span>Close</span></md-tooltip>
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>Unit</label>
                <md-select name="unit_id" ng-model="dcvm.details.unit_id" required>
                  <md-option ng-value="u.unit_id" ng-repeat="u in dcvm.units">{{ u.unit_name }}</md-option>
                </md-select>
                <div ng-messages="insertForm.unit_id.$error" ng-show="insertForm.unit_id.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Geofence Name</label>
                <input name="geofence_name"  ng-model="dcvm.details.geofence_name" required>
                <div ng-messages="insertForm.geofence_name.$error" ng-show="insertForm.geofence_name.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Collection Schedule</label>
                <md-select name="collection_schedule_id" ng-model="dcvm.details.collection_schedule_id" required>
                  <md-option ng-value="c.collection_schedule_id" ng-repeat="c in dcvm.collectionSchedule">{{ c.collection_schedule }}</md-option>
                </md-select>
                <div ng-messages="insertForm.collection_schedule_id.$error" ng-show="insertForm.collection_schedule_id.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Body Number</label>
                <md-select name="equipment_id" ng-model="dcvm.details.equipment_id" unique-validation url-path="{{dcvm.urlPath}}" key-field="equipment_id" key-id="{{dcvm.details.shift_id}}" required>
                  <md-option ng-value="e.equipment_id" ng-repeat="e in dcvm.equipments">{{ e.body_no }}</md-option>
                </md-select>
                <div ng-messages="insertForm.equipment_id.$error" ng-show="insertForm.equipment_id.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                    <div ng-message="unique">
                        <span>This data is not available</span>
                    </div>
                </div>
            </md-input-container>
            <label>Time</label>
            <mdp-time-picker mdp-auto-switch="true" name="shift_time" ng-model="dcvm.details.shift_time" mdp-format="HH:mm" required>
                <md-tooltip md-direction="top">Time</md-tooltip>
                <div ng-messages="insertForm.shift_time.$error" role="alert">
                <div ng-message="required">
                    <span>This is required.</span>
                </div>
                <div ng-message="format">
                    <span>Invalid format</span>
                </div>
                </div>
            </mdp-time-picker>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <div ng-if="dcvm.loader">
                <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-button type="submit" ng-if="!dcvm.loader" ng-click="dcvm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="insertForm.$invalid || insertForm.$pristine"
                           aria-label="SAVE">
                    Save
                </md-button>
            </div>

            <div layout="row">
                <md-button class="send-button md-warn md-raised"
                           aria-label="Close Button" ng-click="dcvm.closeDialog()">
                    Close
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>