<md-dialog class="task-dialog" aria-label="New Task">
    <form name="insertForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Add New User</span>
                <md-button class="md-icon-button" ng-click="dcvm.closeDialog()">
                    <md-tooltip><span>Close</span></md-tooltip>
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>Username</label>
                <md-tooltip md-direction="top" md-autohide="true">
                  The default password will be the username
                </md-tooltip>
                <input name="username" ng-model-options="{debounce:300}" ng-model="dcvm.details.username" unique-validation url-path="{{dcvm.urlPath}}" key-field="username" md-autofocus required>
                <div ng-messages="insertForm.username.$error" ng-show="insertForm.username.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                    <div ng-message="unique">
                        <span>Username unavailable</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Profile Name</label>
                <input name="profile_name" ng-model="dcvm.details.profile_name"  required>
                <div ng-messages="insertForm.profile_name.$error" ng-show="insertForm.profile_name.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Role</label>
                <md-select name="role" ng-model="dcvm.details.role" md-on-open="dcvm.loadRole()" required>
                  <md-option ng-value="r.role" ng-repeat="r in dcvm.role">{{ r.role_name }}</md-option>
                </md-select>
                <div ng-messages="insertForm.role.$error" ng-show="insertForm.role.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                </div>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <div ng-if="dcvm.loader">
                <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-button type="submit" ng-if="!dcvm.loader" ng-click="dcvm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="insertForm.$invalid || insertForm.$pristine"
                           aria-label="SAVE">
                    Save
                </md-button>
            </div>

            <div layout="row">
                <md-button class="send-button md-warn md-raised"
                           aria-label="Close Button" ng-click="dcvm.closeDialog()">
                    Close
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>