<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span>GPS</span>
                </div>
                <div class="product-count secondary-text">
                    <span>Total gps:</span>
                    <span>{{vm.lists.count}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="e-commerce-products-search" class="search-input" type="text" ng-model="vm.query.filter" ng-model-options="{debounce:300}" placeholder="Search" flex>
            </div>

            <div>
                <md-button class="md-raised md-background md-button md-default-theme md-ink-ripple" aria-label="Add New Button" ng-click="vm.add($event)" >Add New GPS</md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <md-table-container>
                    <table md-table md-progress="vm.promise">
                        <thead md-head md-order="vm.query.order" md-on-reorder="vm.getLists">
                            <tr md-row>
                                <th md-column ><span>Unit</span></th>
                                <th md-column md-order-by="order"><span>Body Number</span></th>
                                <th md-column ><span>Sector</span></th>
                                <th md-column ><span>Collection Schedule</span></th>
                                <th md-column ><span>Geofence Name</span></th>
                                <th md-column ><span>Collection Type</span></th>
                                <th md-column ><span>Time</span></th>
                                <th md-column ><span>Image File</span></th>
                                <th md-column ><span>Status</span></th>
                                <th md-column><span>Actions</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr ng-if="vm.lists.count == 0" md-row>
                                <td md-cell>No record(s) found.</td>
                                <td md-cell></td>
                                <td md-cell></td>
                                <td md-cell></td>
                                <td md-cell></td>
                                <td md-cell></td>
                                <td md-cell></td>
                                <td md-cell></td>
                                <td md-cell></td>
                                <td md-cell></td>
                            </tr>
                            <tr md-row ng-repeat="r in vm.lists.data">
                                <td md-cell>
                                    {{r.unit_name}}
                                </td>
                                <td md-cell>
                                    {{r.body_no}}
                                </td>
                                <td md-cell>
                                    {{r.sector}}
                                </td>
                                <td md-cell>
                                    {{r.collection_schedule}}
                                </td>
                                <td md-cell>
                                    {{r.geofence_name}}
                                </td>
                                <td md-cell>
                                    {{r.collection_type}}
                                </td>
                                <td md-cell>
                                    {{r.shift_time}}
                                </td>
                                <td md-cell>
                                    <img class="product-image" ng-src="{{vm.photoPath}}/{{r.geofence_file}}" alt="Image File" ng-click="vm.viewImage($event,r)">
                                    <md-tooltip md-direction="top" md-autohide="true">
                                      Click to View Image
                                    </md-tooltip>
                                </td>
                                <td md-cell>
                                    <md-button class="md-mini md-accent" ng-if="r.geofence_status == 1"  aria-label="Active" md-no-ink="true" ng-click="vm.changeStatus(r.geofence_id,2)" >
                                    <md-tooltip md-direction="top" md-autohide="true">
                                      Click Deactivate
                                    </md-tooltip>
                                    Active</md-button>
                                    <md-button class="md-mini md-warn"  ng-if="r.geofence_status == 2" aria-label="Not Active" md-no-ink="true" ng-click="vm.changeStatus(r.geofence_id,1)">
                                    <md-tooltip md-direction="top" md-autohide="true">
                                      Click to Activate
                                    </md-tooltip>
                                    Not Active</md-button>
                                </td>
                                <td md-cell>
                                    <md-button class="edit-button md-icon-button" aria-label="EDIT" ng-click="vm.update($event,r)">
                                    <md-tooltip md-direction="top" md-autohide="true">
                                      Click to Update
                                    </md-tooltip>
                                    <md-icon md-font-icon="icon-pencil" class="s16"></md-icon></md-button>
                                    <md-button class="edit-button md-icon-button" aria-label="Upload" ng-click="vm.uploadRoute($event,r.geofence_id)"><md-tooltip md-direction="top" md-autohide="true">UPLOAD ROUTE FILE</md-tooltip><md-icon md-font-icon="icon-upload" class="s16"></md-icon></md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 20 , 50 , 100]" md-page="vm.query.page" md-total="{{vm.lists.count}}" md-on-paginate="vm.getLists" md-page-select></md-table-pagination>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>