<md-dialog class="task-dialog" aria-label="New Task">
    <form name="insertForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Save Club</span>
                <md-button class="md-icon-button" ng-click="edcvm.closeDialog()">
                    <md-tooltip><span>Close</span></md-tooltip>
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>Club Name</label>
                <input name="club_name" ng-model="edcvm.details.club_name" required md-autofocus>
                <div ng-messages="insertForm.club_name.$error" ng-show="insertForm.club_name.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Position</label>
                <input name="club_position" ng-model="edcvm.details.club_position" required>
                <div ng-messages="insertForm.club_position.$error" ng-show="insertForm.club_position.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Membership</label>
                <input name="club_membership" ng-model="edcvm.details.club_membership" required>
                <div ng-messages="insertForm.club_membership.$error" ng-show="insertForm.club_membership.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                </div>
            </md-input-container>

        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <div ng-if="edcvm.loader">
                <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-button type="submit" ng-if="!edcvm.loader" ng-click="edcvm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="insertForm.$invalid || insertForm.$pristine"
                           aria-label="SAVE">
                    Save
                </md-button>
            </div>

            <div layout="row">
                <md-button class="send-button md-warn md-raised"
                           aria-label="Close Button" ng-click="edcvm.closeDialog()">
                    Close
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>