<md-dialog class="task-dialog" aria-label="New Task">
    <form name="insertForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Add New Collection Type</span>
                <md-button class="md-icon-button" ng-click="dcvm.closeDialog()">
                    <md-tooltip><span>Close</span></md-tooltip>
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label>Collection Type</label>
                <input name="collection_type" ng-model-options="{debounce:300}" ng-model="dcvm.details.collection_type" unique-validation key-field="collection_type" url-path="{{dcvm.urlPath}}" required md-autofocus>
                <div ng-messages="insertForm.collection_type.$error" ng-show="insertForm.collection_type.$touched" role="alert">
                    <div ng-message="required">
                        <span>This is required</span>
                    </div>
                    <div ng-message="unique">
                        <span>This data is unavailable.</span>
                    </div>
                </div>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <div ng-if="dcvm.loader">
                <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-button type="submit" ng-if="!dcvm.loader" ng-click="dcvm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="insertForm.$invalid || insertForm.$pristine"
                           aria-label="SAVE">
                    Save
                </md-button>
            </div>

            <div layout="row">
                <md-button class="send-button md-warn md-raised"
                           aria-label="Close Button" ng-click="dcvm.closeDialog()">
                    Close
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>